<h2>Liste des livres</h2>
{% if livres %}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Année de publication</th>
        <th>Quantité</th>
        <th>Actions</th>
    </tr>
    {% for livre in livres %}
    <tr>
        <td>{{ livre[0] }}</td>  <!-- ID du livre -->
        <td>{{ livre[1] }}</td>  <!-- Titre du livre -->
        <td>{{ livre[2] }}</td>  <!-- Auteur du livre -->
        <td>{{ livre[3] }}</td>  <!-- Année de publication -->
        <td>{{ livre[4] }}</td>  <!-- Quantité disponible -->
        <td>
            {% if role == 'Admin' %}
                <form action="{{ url_for('supprimer_livre', livre_id=livre[0]) }}" method="post" style="display:inline;">
                    <button type="submit">Supprimer</button>
                </form>
            {% endif %}
            {% if est_authentifie() %}
                {% if livre[4] > 0 %}
                    <form action="{{ url_for('emprunter_livre', id_livre=livre[0]) }}" method="post" style="display:inline;">
                        <button type="submit">Emprunter</button>
                    </form>
                {% else %}
                    <span>Indisponible</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Aucun livre à afficher.</p>
{% endif %}
